
body {
    background-color: #202020;
    /*background-image: linear-gradient( black, gray);*/

}

.container {
    margin: 10px;
    max-width: 99%;
}

.card-header {
    font-size: 36px;
    text-align: right;
    font-weight: 800;
}

.root {
    align-content: center;
}
.rightAlign {
    text-align: right;
}
h3 {
    display: inline;
}