/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

body {
    background-color: black;
}
.container {
    margin: 10px;
    max-width: 99%;
    justify-content:center;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*.card {
    margin: 5px;
}*/

.card-header {
    font-size: 48px;
    text-align: center;
    font-weight: 800;
}